:root {
	--primary-brand-color: #4d5ae5;
	--pressed-state-color: #404bbf;
	--dark-color: #2e2f42;
	--success-color: #31d0aa;
	--text-color: #434455;
	--subtle-text-color: #8e8f99;
	--accent-color: #e7e9fc;
	--light-color: #f4f4fd;
	--modal-overlay-color: #2e2f42;
	--hero-background-color: #2e2f42;
	--bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
	--cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
}

.container {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	/*outline: 1px solid red;*/
	margin: 0 auto;
}

.section{
	padding-top: 120px;
	padding-bottom: 120px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.link {
	text-decoration: none;
	font-style: normal;
	color: inherit;
}

a {
	text-decoration: none;
}

.list {
	list-style: none;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	color: var(--dark-color);
}

/* ----------BODY-------- */
body {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	margin: 0;
}

/* ----------HEADER-------- */
.header{
	border-bottom: 1px solid #E7E9FC;
}

.header-nav-logo,
.header-nav-logo-span {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;;
}

.header-nav-logo {
	color: var(--dark-color);
}
.header-nav-logo-span {
	color: var(--primary-brand-color);
}
.header-nav-logo{
	padding-top: 24px;
	padding-bottom: 24px;

}

.header-container{
	display: flex;
}

.header-nav{
	display: flex;
	align-items: center;
}

.contacts{
	margin-left: auto;
	display: flex;
	align-items: center;
}

.tell{
	margin-left: 40px;
}

.menu {
	color: var(--dark-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	display: flex;
	margin-left: 76px;
	gap: 40px;
}

.menu-item{
	display: inline-block;
	transition: color 250ms var(--cubic);
}

.menu-item:hover,
.menu-item:focus {
	color: var(--pressed-state-color);
}

.nav-link{
	padding-top: 24px;
	padding-bottom: 24px;
	position: relative;
}

.nav-link.current::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: var(--pressed-state-color);
	left: 0;
	bottom: -4px;
	border-radius: 2px;
}

.contact-item {
	display: inline-block;
	color: var(--dark-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding-top: 24px;
	padding-bottom: 24px;
	transition: color 250ms var(--cubic);
}

.contact-item:hover,
.contact-item:focus {
	color: var(--pressed-state-color);
}


/* ----------MAIN-------- */

.main {
	padding-top: 188px;
	padding-bottom: 188px;

	background-color: var(--dark-color);
	color: #ffffff;

	max-width: 1440px;
	margin: 0 auto;
	background-image: var(--bg-gradient), url("../images/people-office.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.main {
	text-align: center;
}



.main-title {
	width: 496px;
	margin: 0 auto 48px;

	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	color: #ffffff;
	letter-spacing: 0.02em;
	display: block;
	text-align: center;

}

.main-btn {
	display: inline-block;
	min-width: 169px;
	min-height: 56px;
	padding: 16px 32px;

	color: #ffffff;
	background-color: var(--primary-brand-color);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	cursor: pointer;
	border: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	transition: background-color 250ms var(--cubic);

}

.btn:hover,
.btn:focus {
	background-color: var(--pressed-state-color);
}
/* ----------OUR ADVANTAGES-------- */

.features{
	display: flex;
	gap: 24px;
}

.feature-item{
	width: calc((100% - 72px) / 4);
}

.feature-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 8px;
	background-color: var(--light-color);
	border-radius: 4px;
}

.feature-item-title {
	color: var(--dark-color);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 8px;
}

.feature-item-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.feature-container{
	display: flex;
	flex-direction: column;
}

/* ----------What are we doing-------- */

.example-section{
	padding-top: 0;
}

.example-title{
	text-align: center;
	margin-bottom: 72px;
}

.example-list{
	display: flex;
	gap: 24px;
}

.example-item{
	width: calc((100% - 48px) / 3);
}

/* ----------OUR TEAM-------- */
.team {
	background-color: var(--light-color);
}

.team-title{
	text-align: center;
	margin-bottom: 72px;
}

.team-list{
	display: flex;
	gap: 24px;
}

.team-card {
	background-color: #ffffff;
	width: calc((100% - 72px) / 4);
	padding-bottom: 32px;
	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0 0 4px 4px;
}

.team-mmbr-name {
	color: var(--dark-color);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	padding-top: 32px;
}
.team-mmbr-psn {
	line-height: 1.5;
	text-align: center;
	padding-top: 8px;
	margin-bottom: 8px;
}

.team-soc-link-list{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.soc-item{
	width: 40px;
	height: 40px;
}


.soc-link{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 12px;
	background-color: var(--primary-brand-color);
	cursor: pointer;
	transition: background-color 250ms var(--cubic);
}

.soc-link:hover,
.soc-link:focus{
	background-color: var(--pressed-state-color);
}

/* ----------Customers-------- */

.customers-title{
	text-align: center;
	margin-bottom: 72px;
}

.list-customers{
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 24px;
}

.customers-item{
	width: calc((100% - 120px) / 6);
	height: 88px;
}

.customer-link{
	width: 100%;
	height: 100%;
	border: 1px solid #8E8F99;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--subtle-text-color);
	cursor: pointer;
	transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.customer-link:hover,
.customer-link:focus{
	border-color: var(--pressed-state-color);
	fill: var(--pressed-state-color);
}


/* ----------FOOTER-------- */

.footer {
	background-color: var(--dark-color);
	color: var(--accent-color);
	line-height: 1.2;
	letter-spacing: 0.02em;
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer-wrap{
	display: flex;
	justify-content: flex-start;
	/*gap: 120px;*/
}

.footer-nav-logo{
	margin-bottom: 16px;
}

.footer-nav-logo,
.footer-nav-logo-span {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	display: inline-block;
}

.footer-nav-logo {
	color: var(--light-color);
}

.footer-nav-logo-span {
	color: var(--primary-brand-color);
}

.footer-soc{
	margin-left: 120px;
}

.footer-text{
	width: 264px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.footer-soc-text{
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 16px;
}

.footer-soc .team-soc-link-list{
	gap: 16px;
}

.footer-soc .soc-link{
	background-color: rgba(255, 255, 255, 0.1);
	padding: 8px;
	transition: background-color 250ms var(--cubic);
}

.footer-soc .soc-link:hover,
.footer-soc .soc-link:focus{
	background-color: var(--success-color);
}

.footer-subscribe{
	margin-left: 80px;
}

.online-input{
	width: 264px;
	height: 40px;
	background-color: var(--dark-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    outline: transparent;
	padding-left: 16px;
}

.online-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.online-input-input:focus {
	outline: none;
	border-color: var(--primary-brand-color);
}
.online-subscribe{
	display: flex;
	align-items: center;
	gap: 24px;
}

.btn-subscribe{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    min-width: 165px;
    min-height: 40px;
	padding: 8px 24px;
	gap: 16px;

    color: #ffffff;
    background-color: var(--primary-brand-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    border: 0;
    border-radius: 4px;

    transition: background-color 250ms var(--cubic);
}

.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active {
	background-color: var(--pressed-state-color);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}


/* ----------PORTFOLIO-------- */
.main-portfolio {
	background-color: #ffffff;
}

.portfolio-section{
	padding-top: 96px;
	padding-bottom: 120px;
}

.filter{
	display: flex;
	gap: 24px;
	justify-content: center;
	margin-bottom: 72px;
}

.filter-btn {
	display: inline-block;
	padding: 12px 24px;
	align-items: center;
	text-align: center;

	font-family: "Roboto", sans-serif;
	color: var(--primary-brand-color);
	background-color: var(--light-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	cursor: pointer;
	transition: color 250ms var(--cubic), box-shadow 250ms var(--cubic), background-color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
	color: #ffffff;
	background-color: var(--pressed-state-color);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	border-color: var(--pressed-state-color);
}

.filter-btn:active{
	color: #ffffff;
	background-color: var(--pressed-state-color);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	border-color: var(--pressed-state-color);

}

.gallery-list{
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}

.card {
	text-decoration: none;
	width: calc((100% - 48px) / 3);
	border-top: none;
	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
	transition: box-shadow 250ms var(--cubic);
}

.card-list:hover,
.card-list:focus {

	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.card-text{
	border-bottom: 1px solid #E7E9FC;
	border-left: 1px solid #E7E9FC;
	border-right: 1px solid #E7E9FC;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;
}

.card-name {
	color: var(--dark-color);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	display: block;

}
.card-type {
	color: var(--dark-color);
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 1.5;
	display: block;
	padding-top: 8px;
}

.card-wrap{
	position: relative;
	overflow: hidden;
}

.card-wrap-text{
	position: absolute;
	top: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--light-color);
	padding-top: 40px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: rgba(77, 90, 229, 1);
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms var(--cubic);
	overflow: auto;
}

.card-link:hover .card-wrap-text,
.card-link:focus .card-wrap-text{
	transform: translateY(0);
}

.backdrop{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	transition: opacity 250ms linear, visibility 250ms linear;
}

.modal{
	position: absolute;
	width: 408px;
	height: 576px;
	top: 375px;
	left: 50%;
	background-color: #FCFCFC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transform: translate(-50%, -50%) scaleX(1);
	transition: transform 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scaleX(0);
}

.modal-close {
	position: absolute;
	right: 24px;
	top: 24px;
	width: 24px;
	height: 24px;
	background-color: var(--accent-color);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	fill: rgba(0, 0, 0, 1);
	transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.modal-close:hover,
.modal-close:focus{
	background-color: var(--pressed-state-color);
	fill: #ffffff;
}

.modal-icon-x{
	display: block;
	margin: auto;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-form {
	display: flex;
	flex-direction: column;
	padding: 72px 24px 24px 24px;

}

.modal-text {
	margin-bottom: 16px;

	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--dark-color);

}

.form-label {
	margin-bottom: 8px;
}
.modal-form-desc {
	display: block;
	margin-bottom: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: calc(14/12);
	letter-spacing: 0.04em;
	color: var(--subtle-text-color);
}

.form-input {
	width: 100%;
	height: 40px;
	padding-left: 38px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color 250ms var(--cubic);
}

.form-input:focus {
	outline: none;
	border-color: var(--primary-brand-color);
}

.input-wrapper {
	position: relative;
	display: block;
}

.modal-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);

	display: block;
	background-color: transparent;

	transition: fill 250ms var(--cubic);
}

.form-input:focus + .modal-icon {
	fill: var(--primary-brand-color);
}

.form-message {
	width: 100%;
	height: 120px;
	padding: 8px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color 250ms var(--cubic);

}
.form-message:focus {
	outline: none;
	border-color: var(--primary-brand-color);
}
.form-message::placeholder {
	font-size: 12px;
	line-height: calc(16/12);
	letter-spacing: 0.04em;
	color: rgba(117, 117, 117, 0.5);

}

.modal-check-desc span {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;

	width: 16px;
	height: 16px;
	border: 1px solid var(--dark-color);
	border-radius: 2px;
	fill: transparent;
}

.modal-checkbox:checked + .modal-check-desc span {
	background-color: var(--pressed-state-color);
	border: none;
	fill: var(--light-color)
}
.modal-check-desc {
	display: flex;
	margin-bottom: 24px;
	font-size: 12px;
	line-height: calc(16/12);
	letter-spacing: 0.04em;
	color: #757575;
}
.police-link {
	color: var(--primary-brand-color);
}

.btn-submit {
	padding: 16px 32px;
	margin: 0 auto;
	width: 169px;
	min-height: 56px;
	background-color: var(--primary-brand-color);
	border-radius: 4px;
	font-weight: 500;
	align-items: center;
	line-height: calc(24/16);
	letter-spacing: 0.04em;
	color: #FFFFFF;
	cursor: pointer;
	border: 0;

	transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
	background-color: var(--pressed-state-color);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
